

@model IEnumerable<Job>
@{
    ViewData["Title"] = "Categories";
}

    
<div class="open-jobs-wrapper">

    
     @foreach (var obj in Model)
        {
            <div>
                
                    <div>
                    @obj.job_title
                    </div>
                
            </div>
        }
</div>
