@model IEnumerable<Category>
@{
    ViewData["Title"] = "Home Page";
}


<div class="index-wrapper-outer">
    
    <div class="index-wrapper">
        <h1 class="lets-find-text">Let's find your next job</h1>
        <div class="index-input-wrapper">
            
            <input type="text" placeholder="Search for jobs" />
            <input type="text" placeholder="Location of your dream job?" />
        </div>
        <p>We are not an employer nor are we affiliated with any of the employers on this site.

        </p>
        <button type="button" class="search-jobs-btn">Search Jobs</button>
        <div>

        </div>
    </div>
</div>

<div class="open-wrapper">
    <div class="open-jobs">
        
        <h2 class="open-jobs-text">Open Jobs</h2>
    </div>
    
    <div class="open-jobs-wrapper">
        
    @foreach (var obj in Model)
    {
        <div>
            
            <a asp-controller="Home" asp-action="Category">
                <div>
                @obj.category_name
            </div>
            </a>
            
            @* <div>@obj.category_name</div> *@
        </div>
    }
    </div>

</div>
