<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/layout.css"/>
</head>
<body>
<header>
    
    <div class="nav-wrapper">
        <nav>
            <div style="display: flex; align-items: center; gap: 30px;">
                <h1><a asp-controller="Home" asp-action="Index">Job Board</a></h1>
                <div><a asp-controller="Home" asp-action="Jobs">Jobs</a></div>
                <div><a asp-controller="Home" asp-action="Companies">Companies</a></div>
            </div>


            <div style="display: flex; align-items: center">
                <div>
                    Profile
                </div>
            </div>
        </nav>
        
    </div>
</header>
<div class="container">
    <main class="pb-3">
        @RenderBody()
    </main>
</div>

</body>
</html>